<div class="navbar">
    <img class="logo-img" src="{{ url_for('static', filename='images/default_logo.png') }}" />
    <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('data_visualization') }}">Visualization</a>
        <a href="{{ url_for('statistics') }}">Statistics</a>



        <!-- Dropdown for Images -->
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Images</a>
            <div class="dropdown-content">
                <a href="{{ url_for('images_visualization') }}">View</a>
                <a href="{{ url_for('library') }}">Library</a>
                
            </div>
        </div>



    

        <!-- Dropdown for News -->
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Account</a>
            <div class="dropdown-content">
                <a href="#news1">Profile</a>
                <a href="#news2">Settings</a>
                <a id="sign-out-btn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
</div>